name: Build

on:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - main
  pull_request:
    branches:
      - '*'

permissions:
  contents: none
  packages: none

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Ensure Dependencies
        run: |
          make deps
          ./scripts/enforce-clean

      - name: Lint
        run: make lint

      - name: Test
        run: make test

      - name: Build
        run: |
          git fetch origin --tags
          git status --porcelain --untracked-files=no
          git diff --no-ext-diff --quiet
          ./scripts/version
          make build
